/* Base styles (mobile first) */
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #333;
  background-color: #F5F5F5;
  line-height: 1.6;
  overflow-x: hidden;
}


/* Tablet */
@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

/* Desktop */
@media (min-width: 900px) {
  body {
    font-size: 18px;
  }
}

/* Large Desktop */
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}
